.content {
  background: #f0f0f0;
  overflow: auto;
  /* Allow scrolling */
  scrollbar-width: none;
  /* Firefox */
}

.text_alan {
  position: absolute;
  z-index: 99;
  bottom: 5rem;
  zoom: 80%;
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
  animation: showImage 1s forwards; // Trigger animation
  animation-delay: 1s; // Start animation after 3 second
}

.table_zooming {
  position: absolute;
  z-index: 100;
  right: 20rem;
  bottom: 5rem;
  zoom: 80%;
}

.notebook {
  position: absolute;
  z-index: 100;
  left: 0;
  top: 5rem;
  zoom: 80%;
}

.alan_text {
  position: absolute;
  z-index: 100;
  left: 10rem;
  top: 12rem;
  zoom: 70%;
}

.test {
  position: absolute;
  z-index: 100;
  right: 35rem;
  top: 10rem;
  zoom: 70%;
}

.btnClickTest {
  position: absolute;
  z-index: 100;
  zoom: 70%;
  right: 79rem;
  top: 55rem;
  opacity: 0.3;
  cursor: pointer;
}

.btnClickAlanDetail {
  position: absolute;
  z-index: 100;
  zoom: 70%;
  right: 60rem;
  bottom: 20rem;
  opacity: 0.6 !important;
  cursor: pointer;
}

.btnClickTest {
  position: absolute;
  z-index: 100;
  zoom: 60%;
  right: 65rem;
  top: 62rem;
  opacity: 0.6 !important;
  cursor: pointer;
}

.btnTestDetail {
  position: absolute;
  z-index: 100;
  zoom: 60%;
  left: 75rem;
  top: 57rem;
  opacity: 0.6 !important;
  cursor: pointer;
  transition: opacity 0.5s ease-in; // Smooth transition
  animation: showImage 1s forwards; // Trigger animation
  animation-delay: 3s; // Start animation after 3 second  
}

@media only screen and (min-width: 1441px) and (max-width: 1920px) {}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {

  .text_alan {
    transform: scale(0.8);
    left: -7rem;
    bottom: 13rem;
  }

  .table_zooming {
    zoom: 60%;
    bottom: 20rem;
  }

  .btnClickAlanDetail {
    zoom: 60%;
    right: 48rem;
    bottom: 31rem;
  }

  .alan_text {
    zoom: 60%;
  }

  .btnClickTest {
    zoom: 60%;
    right: 47rem;
    top: 41rem;
  }

  .notebook {
    zoom: 60%;

  }

  .btnTestDetail {
    zoom: 60%;
    left: 55rem;
    top: 40rem;
  }

  .test {
    zoom: 60%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {}

@media only screen and (min-width: 481px) and (max-width: 767px) {

  .text_alan {
    transform: scale(0.5);
    left: -16rem;
    top: 16rem;
  }

  .table_zooming {
    zoom: 30%;
  }

  .btnClickAlanDetail {
    zoom: 30%;
    right: 55rem;
    bottom: 18rem;
  }

  .alan_text {
    zoom: 25%;
  }

  .btnClickTest {
    zoom: 30%;
    right: 47rem;
    top: 37rem;
  }

  .notebook {
    zoom: 30%;

  }

  .btnTestDetail {
    zoom: 30%;
    left: 55rem;
    top: 40rem;
  }

  .test {
    zoom: 30%;
  }
}

@media only screen and (max-width: 480px) {}