<img src="/assets/images/11-main/BG_final.gif" class="general-set-background" />
<!-- <img src="/assets/images/Scene12_1.gif" class="general-set-background" /> -->
<img src="/assets/images/general_icons/arrow-back.png" class="btnBack" (click)="goBackToPrevious()" />

<img class="Scaffold" src="/assets/images/11-main/Scaffold.png" />
<div class="content main-section">
    <img class="text1 fade-in-center" src="/assets/images/11-main/text_1.png" />
    <img class="text2 text_hidden" src="/assets/images/11-main/text_2.png"
        [ngClass]="{ 'visible': isImageVisible(2) }" />
    <img class="text3 text_hidden" src="/assets/images/11-main/text_3.png"
        [ngClass]="{ 'visible': isImageVisible(3) }" />
    <img class="text4 text_hidden" src="/assets/images/11-main/text_4.png"
        [ngClass]="{ 'visible': isImageVisible(4) }" />
    <img class="text5 text_hidden" src="/assets/images/11-main/text_5.png"
        [ngClass]="{ 'visible': isImageVisible(5) }" />
    <img class="text6 text_hidden" src="/assets/images/11-main/text_6.png"
        [ngClass]="{ 'visible': isImageVisible(6) }" />
    <img class="text7 text_hidden" src="/assets/images/11-main/text_7.png"
        [ngClass]="{ 'visible': isImageVisible(7) }" />

    <!-- Descartes -->
    @if(!visibleDescartes){<img class="btnText8" src="/assets/images/general_icons/Click.gif"
        (click)="showDescartes()" />}
    @if(visibleDescartes){
    <img class="Descartes  fade-in-center" src="/assets/images/11-main/René_Descartes.png" />
    <img class="btnText8" src="/assets/images/general_icons/Click.gif" (click)="showDetailDescartes()" />
    }
    @if(visibleDetailDescartes){
    <img class="text8 fade-in-center" src="/assets/images/11-main/text_8.png" />
    <img class="btnCancelText8 fade-in-center" src="/assets/images/11-main/Cancel.png"
        (click)="hideDetailDescartes()" />
    }
    <!--  Leibniz -->
    @if(!visibleLeibniz){<img class="btnText9" src="/assets/images/general_icons/Click.gif" (click)="showLeibniz()" />}
    @if(visibleLeibniz){
    <img class="Leibniz fade-in-center" src="/assets/images/11-main/Gottfried_Leibniz.png" />
    <img class="btnText9" src="/assets/images/general_icons/Click.gif" (click)="showDetailLeibniz()" />
    }

    @if(visibleDetailLeibniz){
    <img class="text9 fade-in-center" src="/assets/images/11-main/text_9.png" />
    <img class="btnCancelText9 fade-in-center" src="/assets/images/11-main/Cancel.png" (click)="hideDetailLeibniz()" />
    }

</div>